body{
    margin: 0px;
}
.container{
    margin: 2.5% 5%;
}
.head-main {
    display: flex;
    justify-content: space-evenly;
    }
.head-two ul {
        list-style: none;
        display: flex;
}
.head-two{
    font-family: 'Roboto', sans-serif;

}
.head-two ul li {
    justify-content: space-between;
    padding-left: 10px;
}
.head-two ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
button{
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-color: black;
    border-width: 1px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}
.section-one{
    height: 70%;
    background-image: url(../Images/details_banner.png);
    background-size: cover;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    line-height: 0.1px;
    justify-content: center;
}
p.head-text-one{
    font-size: 60px;
    letter-spacing: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
p.sec1-text{
    font-size: 20px;
}
button:active {
    border-style: outset;
  }
.section-one button{
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    background: none;
    
}
.section-two{
    align-items: center;
}
.section-two p.two-text-one{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: gray;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bold
}
.section-two p.two-text-two{
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}
.section-two .det{
    display: flex;
    justify-content: center;
}
.section-two .det .card{
    text-align: center;
    padding:100px;
    color: rgb(72, 72, 72);
    font-family: 'Playfair Display', serif;
}
.section-four{
    display: flex;

}
.section-four{
    display: flex;
    justify-content:space-evenly;
}
.section-four p{
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-weight: bolder;
    letter-spacing: 3px;
}
span.logo{
    border-radius: 50%;
    background-color: rgb(48, 46, 46);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 46, 46);
}
span.sec-four{
height: 6px;
width: 92px;
background-color: black;
display: block;
}

.msgtwo-one{
    line-height: 10px;
}
p.send-us{
    color: black;
    letter-spacing: 0px;
    font-size: 2.5rem;
    font-weight:500;
}
input#ms1 {
    padding-left: 10px;
    padding-right: 240px;
    padding-top: 20px;
    padding-bottom: 20px;
}
input#ms3 {
    padding-left: 10px;
    padding-right: 240px;
    padding-top: 40px;
    padding-bottom: 40px;
}
h2{
    font-family: 'Roboto', sans-serif;
}

::placeholder{
    font-family: 'Playfair Display', serif;
    color: gray;
    font-size: larger;
}
.msgtwo-two{
    line-height: 26.1px;
}
.footer-topsec-one-two{
    display: flex;
}
footer{
    
    background-image: url(../Images/footer-bg.png);
    color: rgb(255, 255, 255);
    padding: 20px;
    
}
footer button{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-width: 2px;
    font-weight: 10px;
}
.footer-topsec{
    display: flex;
    justify-content:space-evenly;
    padding-bottom: 60px;
}
footer .footer-topsec .footer-topsec-two{
    display: flex;
}
.footer-topsec-one{
    padding-top: 45px;
}
.footer-topsec-two{
    border-bottom: 0.1px solid;
 }
 .footer-topsec-one-one{
    padding-bottom: 30px;
 }
 .footer-topsec-one-two{
    color: rgb(255, 255, 255);
 }
 p.footer-heading{
    font-family: 'Roboto';
 }
.footer-topsec-two-two{
   padding-left: 100px;
   padding-top: 50px;
}

.footer-botsec{
    display: flex;
    justify-content: center;
}
.footer-botsec .unod-l{
    padding-right: 60px;
    font-family: 'Roboto';

}
.footer-botsec .unod-l ul{
    list-style: none;
}
p.footer-heading{
    font-size: 40px;
    font-weight: bold;

}
label{
    display: none;
}
input#checking{
    display: none;
}
@media (min-width: 200px) and (max-width: 600px){
    body{
        padding: 0px;
        margin: 10px;
        width: 500px;
    }
    
    .head-two ul {
        list-style: none;
        position: fixed;
        display: block;
        left: -100%;

    }
    #checking:checked~ul{
        left: 0%;
    }
    .fa-solid, .fas {
        font-weight: 900;
        padding-left: 263px;
        font-size: 37px;
      }

    label{
        display: block;
    }
    input#checking{
        display: none;
    }
    .head-main button{
        display: none;
    }
    p.head-text-one {
        font-size: 32px;
        letter-spacing: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        display: block;
      }
      .msgone img{
        width: 400px;
    }
      p.sec1-text {
        font-size: 10px;
      }
    .section-two .det {
        display: block;
        justify-content: center;
    }
    .section-two .det .card {
        text-align: center;
        padding: 25px;
        color: rgb(72, 72, 72);
        font-family: 'Playfair Display', serif;
    }
    .section-two p.two-text-two {
        font-size: 32px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        text-align: center;
    }
    .section-four {
        display: block;
        justify-content: space-evenly;
    }
    footer {
        background-image: url(../Images/footer-bg.png);
        color: rgb(255, 255, 255);
        padding: 0px;
    }
    .footer-botsec {
        display: block;
        justify-content: center;
    }
    .footer-topsec {
        display: block;
        justify-content: space-evenly;
        padding-bottom: 60px;
    }
    footer .footer-topsec .footer-topsec-two {
        display: block;
    }
    .footer-topsec-two-two {
        padding-left: 0;
        padding-top: 50px;
        padding-bottom: 30px;
    }
}
@media (min-width: 601px) and (max-width: 1200px){
    body{
        padding: 0px;
    }
    .head-two ul {
        list-style: none;
        position: fixed;
        display: block;
        left: -100%;

    }
    #checking:checked~ul{
        left: 0%;
    }
    .fa-solid, .fas {
        font-weight: 900;
        padding-left: 263px;
        font-size: 37px;
      }

    label{
        display: block;
    }
    input#checking{
        display: none;
    }
    .head-main button{
        display: none;
    }
    .section-two {
        align-items: center;
        padding-top: 45px;
    }
    .section-two .det .card {
        text-align: center;
        padding: 20px;
        color: rgb(72, 72, 72);
        font-family: 'Playfair Display', serif;
    }
    input#ms1 {
        padding-left: 10px;
        padding-right: 240px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    input#ms3 {
        padding-left: 10px;
        padding-right: 240px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .msgone img{
        width: 390px;
    }
    footer .footer-topsec .footer-topsec-two {
        display: block;
    }
    .footer-topsec-two-two {
        padding-left: 0px;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    footer button {
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border-width: 2px;
    font-weight: 10px;
    }
    .footer-botsec {
        display: flex;
        justify-content: center;
        padding-left: 50px;
    }
    .msgtwo{
        padding-left: 40px;
    }
    p.head-text-one {
        font-size: 35px;
        letter-spacing: 2px;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
    }
    
    
}