body{
    margin: 0px;
}
.container{
    margin: 2.5% 5%;
}
.head-main {
    display: flex;
    justify-content: space-evenly;
    }
.head-two ul {
        list-style: none;
        display: flex;
}
.head-two{
    font-family: 'Roboto', sans-serif;

}
.head-two ul li {
    justify-content: space-between;
    padding-left: 10px;
}
.head-two ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
button{
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-color: black;
    border-width: 1px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}
.section-one{
    height: 70%;
    background-image: url(../Images/details_banner.png);
    background-size: cover;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p.head-text-one{
    font-size: 60px;
    letter-spacing: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
p.sec1-text{
    font-size: 20px;
}
.section-one button{
    background-color: transparent;
    border-width: 2px ;
    justify-content: center;
    align-items: center;
    color: white;
    border-color: white;
}
.section-two{
    align-items: center;
}
.section-two p.two-text-one{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: gray;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bold
}
.section-two p.two-text-two{
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}
.section-two .det{
    display: flex;
    justify-content: center;
}
.section-two .det .card{
    text-align: center;
    padding: 50px;
    font-family: 'Playfair Display', serif;
}
.section-four{
    display: flex;

}
.section-four{
    display: flex;
    justify-content:space-evenly;
}
.section-four p{
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-weight: bolder;
    letter-spacing: 3px;
}
p.send-us{
    color: black;
    letter-spacing: 0px;
    font-size: 2.5rem;
    font-weight: bold;
}
input#ms1{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;  

}
input#ms3{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
}
::placeholder{
    font-family: 'Playfair Display', serif;
    color: gray;
    font-size: larger;
}

footer{
    
    background-image: url(../Images/footer-bg.png);
    color: rgb(255, 255, 255);
    padding: 20px;
    
}
footer button{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-width: 2px;
    font-weight: 10px;
}
.footer-topsec{
    display: flex;
    justify-content:space-evenly;
    padding-bottom: 60px;
}
footer .footer-topsec .footer-topsec-two{
    display: flex;
}
.footer-topsec-one{
    padding-top: 45px;
}
.footer-topsec-two{
    border-bottom: 0.1px solid;
 }
 .footer-topsec-one-one{
    padding-bottom: 30px;
 }
 p.footer-heading{
    font-family: 'Roboto';
 }
.footer-topsec-two-two{
   padding-left: 100px;
   padding-top: 50px;
}

.footer-botsec{
    display: flex;
    justify-content: center;
}
.footer-botsec .unod-l{
    padding-right: 43px;
    font-family: 'Roboto';

}
.footer-botsec .unod-l ul{
    list-style: none;
}
p.footer-heading{
    font-size: 40px;
    font-weight: bold;

}
